@import '/src/assets/sass/vars.scss';

.logo{

  & &-header{
    position: relative;
    z-index: 5;

    &-desktop{
      display: block;

      @media (max-width: $xs) {
        display: none;
      }
    }

    &-mobile{
      display: none;

      @media (max-width: $xs) {
        display: block;
      }
    }
  }
}